[Application]
name=vpv
version=1.5
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=vpv:Main
icon=vpv.ico
console=true
[Python]
bitness=64
version=3.4.0
[Include]
# Importable packages that your application requires, one per line
packages = requests
	appdirs
	pyaml
        qtconsole
   
